/* body {
    background: linear-gradient(to right, #D988B9, #BEADFA, #B0578D);
} */
*{
    font-family: 'Onest', sans-serif;
    margin: 0;
    padding: 0;
}
.card-body:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(62, 65, 62);
  transition: all ease-in .2s;
}

.beranda {
  text-align: justify;
}
.beranda .btn {
  border-radius: 30px;
}

nav .container-fluid img {
  border-radius: 50px;
}

nav .container-fluid a {
  font-size: 20px;
}

.icn {
  display: none;
}

.respon {
  margin-top: -40px;
}

@media screen and (max-width: 500px){
  .respon {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #ffff;
    z-index: 9;
    font-weight: 500;
    
  }
  .icn {
    display: block;
    margin-bottom: -32px;
    font-size: 20px;
  }

  footer {
    position: relatif;
    bottom: 0;
    margin-bottom: 20px;
    
  }

}


